.card {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 450px;
  height: 400px;
  box-shadow: 10px 10px;
  gap: 15px;
}
