.container {
  display: flex;
  border: 2px solid black;
  border-radius: 15px;
  width: 600px;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
