.modalcard {
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  justify-items: flex-start;
  width: 60vw;
  height: 40vh;
  padding: 20px;
  gap: 15px;
}

.modalcard img {
  width: 200px;
}

.description {
  padding-bottom: 30px;
}

.closebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  font-size: 24px;
  width: 35px;
  height: 35px;
  color: white;
  background-color: black;
}
